# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# NuGet packages
*.nupkg
*.snupkg
.nuget/

# Logs and system files
*.log
*.DS_Store
*.Thumbs.db
